extends layout 

block content 
  h1= book.title 
  h3= 'Written by: ' + book.author
  br
  p= 'Genre: ' + book.genre
  p= 'Year released: ' + book.year
  br
  p 
    a(class='button', href='/books/update/' + book.id) Update Info
  p
    a(class='button', href='/books') Home

